.popup {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.popup_open {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.4s;
}

.popup__container {
  position: relative;
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin: auto;
  width: 60%;
  max-width: 430px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 30px 30px;
}

.popup__container_type_delete-confirmation {
  gap: 5px;
}

.popup__container_type_popup-photo {
  background-color: transparent;
  gap: 10px;
  width: 100%;
  max-width: 78vw;
  padding: 0;
}

.popup__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.popup__title {
  font-family: "Inter black";
  margin: 0;
  font-size: 18px;
}

.popup__subtitle {
  font-family: "Inter medium 500";
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.popup__form-input {
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #545454;
  padding: 0px 20px;
}

.popup__form-input:focus {
  outline: none;
}

.popup__form-button {
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  color: #fff;
  height: 60px;
  border: none;
  border-radius: 4px;
  margin-top: 25px;
  transition: transform 0.3s, background-color 0.3s;
}

.popup__form-button_disabled {
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  pointer-events: none;
}

.popup__form-button:hover {
  cursor: pointer;
  background-color: #D86E8A;
  transform: scale(1.05);
}

.popup__form-error-message {
  color: #ff0000;
  font-family: "Inter regular";
  font-size: 12px;
}

.popup__form-input_type_error {
  border-bottom: 2px solid #ff0000;
}

.popup__close-button {
  background-image: url("../images/popup__close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -20px;
  right: -25px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 560px) {
  .popup__title {
    font-size: 24px;
  }

  .popup__container_type_popup-photo {
    width: 80%;
    height: 100%;
    max-width: 60vw;
    max-height: 85vh;
  }
}
